body {
    
    background-image: url('../img/condensation.jpg');
    background-size: 400px;
}

#map {    
    height: 450px;    
    width: 60%;
    margin: auto;
    border: 1px solid gray;
}

#mapcaption {
    font-style:italic;
    font-size:smaller;
    padding: 0% 20%;
}

.sequence-control-container {  
    width: 250px;  
    height: 60px;  
    background-color: rgba(255,255,255,0.8);  
    padding: 10px;  
    line-height: 45px;  
    text-align: center;  
    border: solid gray 1px;  
}  

.sequenceTitle {
    margin: -10px;
    font-weight: bold;
}

.range-slider {  
    width: 150px;  
}  

.step {
    width: 40px;
}

.step img {  
    width: 100%;
    height:auto;
}  

#forward {  
    float: right;  
}  

#reverse {  
    float: left;  
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}

.legend-control-container {  
    height: auto;  
    position: relative;
    width: 200px; 
    background-color: rgba(255,255,255,0.8);
    border: solid gray 1px;
    text-align: center;   
}  

p.temporalLegend {
    font-weight: 900;
    font-size: 1.1em;

}

#attribute-legend {
    margin-top:-15px;
    font-size: 11px;
}

.pagecontent {
    font-family:'Josefin Sans','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0% 20%;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 1.4em;
    color: rgb(77, 77, 77);
}

.pagecontent img {
    float: right;
    margin: 5px;
}

.pagecontent h3 {
    margin-top: 30px;
}

#pagetitle {
    text-align: center;
    font-family:'Josefin Sans','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#pagetitle h2 {
    font-size: 3em;
    font-weight: 400;
    color: #d94500;
}

#pagesubtitle {
    text-align: center;
    font-family:'Josefin Sans','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#pagesubtitle h3 {
    font-size: 2em;
    font-weight: 300;
    color: #852a00;
    margin-top:-30px;
}

.cls-1 {
    fill: #00827d;
    opacity: .75;
    stroke: #231f20;
    stroke-miterlimit: 10;
}

.color-mode-control-container {
    height: auto;  
    width: 125px; 
    background-color: rgba(255,255,255,0.8);
    border: solid gray 1px;
    text-align: left;  
    padding: 5px; 
    font-weight: bold;
}

#color-mode-button {
    font-style: italic;
    font-weight:900;
    border-radius: 8px;
    transition-duration: 0.3s;
}

#color-mode-button:hover {
    background-color: #00827D;
    color: white;
}

